/*
  License: MIT
  copyright: Chisato Hasegawa (https://github.com/chase0213)
*/


//
// light theme
//
$ac_background__light: #FFFFFF;

// normal font weight
$ac_green__normal_light: #005229;
$ac_blue__normal_light: #005C7A;
$ac_purple__normal_light: #B381B3;
$ac_grey__normal_light: #764776;
$ac_yellow__normal_light: #AA8F00;
$ac_orange__normal_light: #665500;
$ac_red__normal_light: #AF0808;

// bold font weight
$ac_green__bold_light: #00AA55;
$ac_blue__bold_light: #009FD4;
$ac_purple__bold_light: #B381B3;
$ac_grey__bold_light: #939393;
$ac_yellow__bold_light: #AA8F00;
$ac_orange__bold_light: #D47500;
$ac_red__bold_light: #F64747;

//
// dark theme
//
$ac_background__dark: #000000;

// normal font weight
$ac_green__normal_dark: #C8F7C5;
$ac_blue__normal_dark: #E0FFFF;
$ac_purple__normal_dark: #DCC6E0;
$ac_grey__normal_dark: #F2F1EF;
$ac_yellow__normal_dark: #FFFACD;
$ac_orange__normal_dark: #FDD67C;
$ac_red__normal_dark: #FF6347;

// bold font weight
$ac_green__bold_dark: #C8F7C5;
$ac_blue__bold_dark: #E0FFFF;
$ac_purple__bold_dark: #DCC6E0;
$ac_grey__bold_dark: #F2F1EF;
$ac_yellow__bold_dark: #FFFACD;
$ac_orange__bold_dark: #FDD67C;
$ac_red__bold_dark: #FF6347;
